 <div class="row" style="background: #FFC105">
<div class="col-md-4"></div>
	<div class="col-md-4" style="text-align: center">
	    <div class="row"><h1>{{feed.title}}</h1></div>
	</div>
<div class="col-md-4 center"></div>

</div>
<div class="row">
<ul class="breadcrumb">
<li><a href="#" ng-click="changeFeed(feed.todos,'Todos')">Todos</a> <span class="divider"></span></li>
<li><a href="#" ng-click="changeFeed(feed.naoouvo,'Não ouvo')">Não ouvo</a> <span class="divider"></span></li>
<li><a href="#" ng-click="changeFeed(feed.teoria,'Teoria Não ouvo')">Teoria Não ouvo</a> <span class="divider"></span></li>
<li><a href="#" ng-click="changeFeed(feed.visita,'Visita Não ouvo')">Visita Não ouvo</a> <span class="divider"></span></li>
<li><a href="#" ng-click="changeFeed(feed.plantao,'Plantão Não ouvo')">Plantão Não Ouvo</a> <span class="divider"></span></li>
<li><a href="#" ng-click="changeFeed(feed.cartinha,'Cartinha do Não Ouvinte')">Cartinha do Não Ouvinte</a> <span class="divider"></span></li>
<li><a href="#" ng-click="changeFeed(feed.musical,'Análise Musical')">Análise Musical</a> <span class="divider"></span></li>
<li><a href="#" ng-click="changeFeed(feed.outros,'Outros')">Outros</a> <span class="divider"></span></li>
</ul>
</div>